
div{

  height: 200px;
  width: 200px;
  background-color: lightblue;
	border:2px solid #000;
	color:purple;

}
.center {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50%;
	left: 50%;
}
